body,
html {
  height: 100%;
  margin: 0;
  background-image: url('moutain.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

/* .car-container {
  position: absolute;
  top: 20%;   
  transform: translateX(-50%);  
} */


.car-container {
  position: absolute;
  top: 20%;
  /* ปรับตำแหน่งรถตามต้องการ */
  left: -150px;
  /* เริ่มต้นที่ด้านซ้าย */
  animation: drive 5s linear infinite;
  /* เรียกใช้ animation */
}

.car {
  width: 150px;
  /* ขนาดของรถ */
  height: auto;
}

@keyframes drive {
  0% {
    left: -300px;
    /* เริ่มต้นจากนอกหน้าจอทางซ้าย */
  }

  50% {
    left: 50%;
    /* วิ่งไปกลางหน้าจอ */
  }

  100% {
    left: 100%;
    /* วิ่งไปนอกหน้าจอทางขวา */
  }
}


.form-container {
  width: 100%;
  max-width: 550px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f3ecd1;
  z-index: 2;
}

.header-refresh {
  position: relative;
}

.fa.fa-refresh {
  position: absolute;
  left: 90%;
  width: 1px;
  cursor: pointer;
}

.toggle-simmulator-div {
  position: absolute;
}

.output {
  padding-left: 5px;
}

.container {
  justify-content: center;
}

@media (max-width: 500px) {
  body {
    font-size: 14px !important;
  }

  .form-label {
    font-size: 14px !important;
  }

  h5 {
    font-size: 16px !important;
  }

  .output {
    font-size: 14px !important;
  }

  .btn {
    font-size: 14px !important;
  }

  .form-container {
    width: 100%;
    max-width: 300px !important;
    padding: 20px;
  }

  .container {
    translate: 0px -5%;

  }
}



@media (max-width: 1190px) {
  .container {
    justify-content: start;
    position: relative;
    top: 10%;
  }
}